.login-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
    margin-bottom: 4rem;
}

form p {
    text-align: center;
}
.login{
    text-transform: uppercase;
    background-color: #e1ecf9; 
    color: #04418b;
    border: none;
    font-size: 0.7rem;
    padding: 0.3rem 6rem;
    border-radius: 3px;
    margin: 1rem;
}

.register{
    text-transform: uppercase;
    background-color: #eaeaea;
    color: #6f6f6f;
    border: none;
    font-size: 0.7rem;
    padding: 0.3rem 6rem;
    border-radius: 3px;
    margin: 1rem;
}

.login-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.social-media{
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    margin: 1rem;
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content:start;
    gap: 1rem;
    width: 100%;
}

.inputs input {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    width: 100%;
    text-align: left;
    
}

.remember-password{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 1rem;
}

.remember-password div{
    display: flex;
    gap: 8px;
}

.sign-in{
    width: 100%;
    border: none;
    color: white;
    background-color: #3179d1;
    border-radius: 4px;
    padding: 0.2rem 12rem;
    margin: 2rem 0;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.2);
}

.sm-icons{
    color: #3179d1;
}

@media screen and (max-width: 576px){

    .login,
    .logout{
    text-transform: uppercase;
    background-color: #e1ecf9; 
    font-size: 0.7rem;
    padding: 0.3rem 5rem;
    border-radius: 3px;
    margin: 1rem;
}

}
 